              * {
                  box-sizing: border-box;
              }
              
              body {
                  background: #5D001E;
                  background-image: url("/images/ancient.jpg");
                  background-repeat: repeat;
                  font-family: Arial, Helvetica, sans-serif;
                  color: #cccccc;
              }
              
              header {
                  background-color: rgba(7, 0, 75, 0.9);
                  padding: 0px;
                  text-align: center;
                  font-size: 25px;
                  color: #E3E2DF;
                  border: #cccccc;
                  border-style: solid;
              }
              
              nav {
                  display: inline-block;
                  width: 100%;
                  background: rgb(0, 112, 187);
                  padding: 0px;
                  border: #cccccc;
                  border-style: solid;
              }
              
              nav ul {
                  list-style-type: none;
                  padding: 0px;
              }
              
              article {
                  padding: 0px;
                  width: 100%;
                  text-align: center;
                  background-color: rgba(7, 0, 75, 0.9);
                  /* height: 500px; */
                  border: #E3AFBC;
                  border-style: double;
              }
              
              section:after {
                  content: "";
                  display: table;
                  clear: both;
              }
              
              footer {
                  background-color: rgb(0, 112, 187);
                  padding: 10px;
                  text-align: center;
                  color: #C5C6C7;
                  border: #cccccc;
                  border-style: solid;
              }
              
              @media (max-width: 600px) {
                  nav,
                  article {
                      width: 100%;
                      height: auto;
                  }
              }
              
              a:link {
                  color: #cccccc;
              }
              
              a:visited {
                  color: whitesmoke;
              }
              
              a:hover {
                  color: #FFFFFF;
              }
              
              a:active {
                  color: #E3E2DF;
              }
              
              input[type=number] {
                  border: 2px solid #cccccc;
                  border-radius: 4px;
                  background-color: rgb(0, 112, 187);
                  color: #E3E2DF;
                  font-size: 25px;
              }
              
              input[type=text] {
                  border: 2px solid #cccccC;
                  border-radius: 4px;
                  background-color: rgb(0, 112, 187);
                  color: #E3E2DF;
                  font-size: 25px;
              }
              
              input[type=submit] {
                  background-color: rgb(0, 112, 187);
                  border-style: groove;
                  border: 2px solid #cccccc;
                  color: #E3E2DF;
                  padding: 16px 32px;
                  text-decoration: bold;
                  margin: 4px 2px;
                  cursor: pointer;
                  font-size: 25px;
                  border-radius: 4px;
              }
              
              .center {
                  padding: 70px 0;
              }
              
              .total {
                  font-size: 25px;
              }
              
               ::placeholder {
                  /* Chrome, Firefox, Opera, Safari 10.1+ */
                  color: #C5C6C7;
                  opacity: 1;
                  /* Firefox */
              }
              
               :-ms-input-placeholder {
                  /* Internet Explorer 10-11 */
                  color: #C5C6C7;
              }
              
               ::-ms-input-placeholder {
                  /* Microsoft Edge */
                  color: #C5C6C7;
              }
              /* Style The Dropdown Button */
              
              .dropbtn {
                  background-color: rgb(0, 112, 187);
                  color: #E3E2DF;
                  padding: 16px;
                  font-size: 16px;
                  border: none;
                  cursor: pointer;
              }
              /* The container <div> - needed to position the dropdown content */
              
              .dropdown {
                  position: relative;
                  display: inline-block;
              }
              /* Dropdown Content (Hidden by Default) */
              
              .dropdown-content {
                  display: none;
                  position: absolute;
                  background-color: rgb(0, 112, 187);
                  min-width: 160px;
                  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                  z-index: 1;
              }
              /* Links inside the dropdown */
              
              .dropdown-content a {
                  color: #E3E2DF;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;
              }
              /* Change color of dropdown links on hover */
              
              .dropdown-content a:hover {
                  background-color: rgb(0, 83, 131)
              }
              /* Show the dropdown menu on hover */
              
              .dropdown:hover .dropdown-content {
                  display: block;
              }
              /* Change the background color of the dropdown button when the dropdown content is shown */
              
              .dropdown:hover .dropbtn {
                  background-color: rgb(0, 51, 146);
              }
              
              img {
                  border-radius: 50%;
                  -webkit-transition: -webkit-transform .8s ease-in-out;
                  -ms-transition: -ms-transform .8s ease-in-out;
                  transition: transform .8s ease-in-out;
              }
              
              img:hover {
                  transform: rotate(360deg);
                  -ms-transform: rotate(360deg);
                  -webkit-transform: rotate(360deg);
              }
              
              .buttonStyle:hover {
                  background: rgba(0, 153, 255, 0.904);
              }